<div class="mine" id="mine">
	<img class="set" src="img/icon-setup.png" alt="" />
	<div class="mineTop">
		<div class="denglu">
			<img src="img/login-pic.jpg" alt="" />
		</div>
		<div class="money"> 
			<span>悠币：<strong>0</strong></span>
			<span>余额：<strong>￥0.00</strong></span>
		</div>
	</div>
	<div class="mineFooter">
		<a href="">
			<span></span>
			<p>我的订单</p>
		</a>
		<a href="">
			<span></span>
			<p>优惠券</p>
		</a>
		<a href="">
			<span></span>
			<p>收货地址</p>
		</a>
		<a href="">
			<span></span>
			<p>客服电话</p>
		</a>
		<a href="">
			<span></span>
			<p>提货券</p>
		</a>
		<a href="">
			<span></span>
			<p>团来团趣</p>
		</a>
	</div>
</div>